body {
  background: #14b8de;
}

#input {
  background: #14b8de;
  border: none;
  height: 338px;
  width: 378px;
  color: #fff;
  font-size: 20px;
  margin-top: 22px;
}

#input:focus {
  outline: none;
}

#quit {
  background: transparent url('../img/close.png') no-repeat 4px 4px;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 6px;
  top: 3px;
  cursor: pointer;
}
