@font-face {
  font-family: LobsterRegular;
  src: url(../fonts/Lobster-Regular.ttf);
}

body {
  background: #14b8de;
}

#input {
  background: #14b8de;
  border: none;
  height: 338px;
  width: 378px;
  color: #fff;
  font-size: 20px;
  margin: 10px 0 0 10px;
}

#input:focus {
  outline: none;
}

#quit {
  background: transparent url('../img/close.png') no-repeat 4px 4px;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 6px;
  top: 12px;
  cursor: pointer;
}

#title {
  font-family: LobsterRegular;
  font-size: 33px;
  color: #fff;
}
